/* Style Sheet for JTR Photography */
/* 
==============
color scheme
==============
Primary Color:#B3BDC9
Primary hover:#AED1EB
Text:White
Text muted:
Background:#C9BFB3
Border:
 */
*{
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color:#C9BFB3;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.6;

}

img {
  max-width: 100%;
  height: auto;
  flex-shrink: 0;
}

/* ===========
    typogrpahy
  =============
  */
  h1, h2 {
    line-height: 1.4;
    color: white;
    font: Georgia, serif;
    margin: 15px;
  }

  h1 {font-size: 2rem;}
  h2 { font-size: 1.5rem;}

  p {
    color: white;
    font-size: 1.2rem;
    margin: 8px 20px;
  }
  
  img {
    display: inline-block;
    padding: 5px 5px;
  }
  /* 
  ==========
  Links 
  ==========
  */
  a {
     color:white;
     text-decoration: none;
  }
  a:hover,a:focus {
    color: brown;
  }

  /* nav */
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 24px;
}

nav a {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  font-size:  1.3rem;
  border: 1 solid beige;
  text-decoration: none;
}

/* Layouts */

#logo {
  padding: 10px 10px;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
    /* My gallery page */
#Gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
align-items: center;
}

/* About me page */
#selfportrait {
  border-radius: 400px;
}
.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}